.gridProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardProduct {
  display: flex;
  flex-direction: column;
  height: 27rem;
  width: 18rem;
  justify-content: center;
  margin-top: 10rem;
}

.imgProduct {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 18rem;
}

.titleProduct {
  text-decoration: underline;
}

.buttonProduct {
  display: flex;
  justify-content: center;
  align-items: center;
}
